:root {
  --black: #000000;
  --primary: #ff7043;
  --accent: #4caf50;
  --bg: #fffcfc;
  --text: #30150c;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  max-width: 1920px;
  font-family: "Georgia";
}

h1 {
  text-align: center;
  color: var(--text);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

li {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
  font-size: 2rem;
  transition: 0.3s;
}

a:hover {
  text-decoration: underline;
}
