:root {
  --black: #000000;
  --primary: #ff7043;
  --accent: #4caf50;
  --bg: #fffcfc;
  --text: #30150c;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: "Georgia", "Times New Roman", Times, serif;
  color: var(--text);
}

h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

div.main-nav {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: relative;
  right: 35px;
}

li.nav {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
  font-size: 2rem;
}

a:hover {
  text-decoration: underline;
}

/* Styles for pizza.html, salad.html and taco.html */

section.bg {
  background-color: rgba(76, 175, 80, 0.2);
  padding-top: 50px;
  width: 1300px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
  height: auto;
  padding-bottom: 50px;
}

a.home-btn {
  display: block;
  text-align: center;
}

img {
  width: 100%;
  display: block;
  margin: auto;
  max-width: 400px;
  border-radius: 20px;
  position: relative;
  top: -10px;
}

h2 {
  text-align: center;
  margin-top: 40px;
}

p {
  text-align: center;
  font-size: 18px;
  line-height: 1.7;
}

h3 {
  margin-left: 30px;
  font-size: 1.5rem;
}

div.one {
  width: 500px;
  height: auto;
  background-color: var(--accent);
  border-radius: 10px;
}

div.two {
  width: 500px;
  height: auto;
  background-color: var(--primary);
  border-radius: 10px;
}

section.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.one li {
  padding: 10px;
  font-size: 19px;
}

.two li {
  padding: 10px;
  font-size: 18px;
}
