:root {
  --black: #000000;
  --primary: #ff7043;
  --accent: #4caf50;
  --bg: #fffcfc;
  --text: #30150c;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  max-width: 1920px;
  overflow-x: hidden;
  font-family: "Georgia", "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
  color: var(--text);
  font-size: 3rem;
  font-weight: 600;
  text-transform: uppercase;
}

div.main-nav {
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  position: relative;
  right: 35px;
}

li.nav {
  list-style: none;
  padding: 10px;
}

a {
  text-decoration: none;
  color: var(--text);
  font-size: 2rem;
}

a:hover {
  text-decoration: underline;
}

/* Styles for pizza.html, salad.html and taco.html */

a.home-btn {
  display: block;
  text-align: center;
}

img {
  width: 100%;
  display: block;
  margin: auto;
  max-width: 400px;
  margin-top: 30px;
  border-radius: 10px;
}
